<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu -->
        <!-- 需要改 parent 内容，选择上一层菜单 -->
        <!-- <menuitem name="Owl Demo 主菜单" id="owl_demo_menu_root"/>
        <menuitem name="Owl Demo 子菜单" id="owl_demo_menu" parent="owl_demo_menu_root" sequence="0"/>
        <menuitem name="Owl Demo 子菜单列表" id="owl_demo_menu_list" parent="owl_demo_menu" action="owl_demo_model_action" sequence="0"/>
        <menuitem name="Owl Demo tree测试按钮" id="owl_demo_button_menu_list" parent="owl_demo_menu" action="owl_demo_button_model_action" sequence="10"/>
        <menuitem name="Owl Demo tree测试按钮重写" id="owl_demo_rewrite_menu_list" parent="owl_demo_menu" action="owl_demo_button_rewrite_model_action" sequence="20"/>

        <menuitem name="Owl Service Demo 子菜单" id="owl_service_demo_menu" parent="owl_demo_menu_root" sequence="10"/>
        <menuitem name="Owl Service Demo 子菜单列表" id="owl_service_demo_menu_list" parent="owl_service_demo_menu" action="action_owl_service_orm_service_client" sequence="0"/>
        <menuitem name="Owl Service Demo 子菜单列表2" id="owl_service_demo_menu_list_2" parent="owl_service_demo_menu" action="action_owl_service_orm_service_client_2" sequence="10"/> -->

        <!-- Menu -->
        <!-- 不需要加 parent 内容, 可嵌套多层 -->
        <menuitem name="Owl Demo 主菜单" id="owl_demo_menu_root">
            <menuitem name="Owl Demo 子菜单" id="owl_demo_menu" sequence="0">
                <menuitem name="Owl Demo 子菜单列表" id="owl_demo_menu_list" action="owl_demo_model_action" sequence="0"/>
                <menuitem name="Owl Demo tree测试按钮" id="owl_demo_button_menu_list" action="owl_demo_button_model_action" sequence="10"/>
                <menuitem name="Owl Demo tree测试按钮重写" id="owl_demo_rewrite_menu_list" action="owl_demo_button_rewrite_model_action" sequence="20"/>
            </menuitem>

            <menuitem name="Owl Service Demo 子菜单" id="owl_service_demo_menu" sequence="10">
                <menuitem name="Owl Service Demo 子菜单列表" id="owl_service_demo_menu_list" action="action_owl_service_orm_service_client" sequence="0"/>
                <menuitem name="Owl Service Demo 子菜单列表2" id="owl_service_demo_menu_list_2" action="action_owl_service_orm_service_client_2" sequence="10"/>
            </menuitem>
        </menuitem>
    </data>
</odoo>
